# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/
build/
dist/

# env
.env
.env.local
.env.*.local
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# testing
coverage/
playwright-report/
test-results/
.playwright/

# os
.DS_Store
Thumbs.db

# editors
.vscode/*
!.vscode/settings.recommended.json
!.vscode/extensions.json
.idea/

# husky internal
.husky/_/

# misc
*.tsbuildinfo
next-env.d.ts
